USE [SWP-Project]
GO
/****** Object:  Table [dbo].[Chapter]    Script Date: 1/3/2023 4:31:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapter](
	[Chapter_id] [int] NOT NULL,
	[course_id] [int] NULL,
	[chapter_name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Chapter_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommentCourse]    Script Date: 1/3/2023 4:31:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentCourse](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[course_id] [int] NULL,
	[comment_detail] [nvarchar](max) NULL,
	[comment_date] [date] NULL,
	[comment_repply] [int] NULL,
	[comment_like] [int] NULL,
	[comment_image] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommentLesson]    Script Date: 1/3/2023 4:31:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentLesson](
	[Comment_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[lesson_id] [int] NULL,
	[comment_repply] [int] NULL,
	[comment_like] [int] NULL,
	[comment_detail] [nvarchar](max) NULL,
	[comment_date] [date] NULL,
	[comment_image] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 1/3/2023 4:31:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Course_id] [int] NOT NULL,
	[course_name] [nvarchar](50) NULL,
	[course_description] [nvarchar](max) NULL,
	[course_price] [float] NULL,
	[course_number_lesson] [int] NULL,
	[course_image] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discussion]    Script Date: 1/3/2023 4:31:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discussion](
	[discussion_Id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[discussion_detail] [nvarchar](max) NULL,
	[discussion_date] [date] NULL,
	[discussion_reply] [int] NULL,
	[discussion_like] [int] NULL,
	[discussion_image] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[discussion_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enroll]    Script Date: 1/3/2023 4:31:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enroll](
	[Enroll_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[course_id] [int] NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[rate] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Enroll_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 1/3/2023 4:31:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[image_id] [int] NOT NULL,
	[lesson_id] [int] NULL,
	[image_link] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lesson]    Script Date: 1/3/2023 4:31:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lesson](
	[lesson_id] [int] NOT NULL,
	[lesson_video] [varchar](max) NULL,
	[lesson_level] [varchar](1) NULL,
	[chapter_id] [int] NULL,
	[image_id] [int] NULL,
	[lesson_content] [varchar](max) NULL,
	[lesson_number] [int] NULL,
	[course_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[lesson_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Percentage]    Script Date: 1/3/2023 4:31:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Percentage](
	[User_Id] [int] NULL,
	[lesson_id] [int] NULL,
	[percentage] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 1/3/2023 4:31:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[Question_id] [int] NOT NULL,
	[Question] [nvarchar](max) NULL,
	[Choice1] [nvarchar](max) NULL,
	[Choice2] [nvarchar](max) NULL,
	[Choice3] [nvarchar](max) NULL,
	[Choice4] [nvarchar](max) NULL,
	[Choice5] [nvarchar](max) NULL,
	[Question_correct] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quizz]    Script Date: 1/3/2023 4:31:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quizz](
	[Quizz_id] [int] NOT NULL,
	[Course_id] [int] NULL,
	[Question_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Quizz_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Record]    Script Date: 1/3/2023 4:31:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Record](
	[record_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[Course_id] [int] NULL,
	[record_date] [varchar](max) NULL,
	[record_mark] [varchar](20) NULL,
	[recod_quizz] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[record_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 1/3/2023 4:31:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[User_Id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [nvarchar](max) NULL,
	[user_mail] [varchar](50) NULL,
	[user_password] [varchar](20) NULL,
	[user_role] [tinyint] NULL,
	[user_gender] [tinyint] NULL,
	[user_address] [nvarchar](50) NULL,
	[user_phone] [int] NULL,
	[user_avatar] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Chapter] ([Chapter_id], [course_id], [chapter_name]) VALUES (1, 1, N'First program and comments')
INSERT [dbo].[Chapter] ([Chapter_id], [course_id], [chapter_name]) VALUES (2, 1, N'Variables and Types')
INSERT [dbo].[Chapter] ([Chapter_id], [course_id], [chapter_name]) VALUES (3, 1, N'Operators')
GO
SET IDENTITY_INSERT [dbo].[CommentCourse] ON 

INSERT [dbo].[CommentCourse] ([comment_id], [user_id], [course_id], [comment_detail], [comment_date], [comment_repply], [comment_like], [comment_image]) VALUES (1, 1, 1, N'Course rất hay', CAST(N'2023-01-26' AS Date), 0, 0, NULL)
INSERT [dbo].[CommentCourse] ([comment_id], [user_id], [course_id], [comment_detail], [comment_date], [comment_repply], [comment_like], [comment_image]) VALUES (2, 2, 1, N'Tuyệt vời', CAST(N'2023-01-26' AS Date), 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[CommentCourse] OFF
GO
SET IDENTITY_INSERT [dbo].[CommentLesson] ON 

INSERT [dbo].[CommentLesson] ([Comment_id], [user_id], [lesson_id], [comment_repply], [comment_like], [comment_detail], [comment_date], [comment_image]) VALUES (1, 1, 1, 0, 0, N'Comment1', CAST(N'2023-01-26' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[CommentLesson] OFF
GO
INSERT [dbo].[Course] ([Course_id], [course_name], [course_description], [course_price], [course_number_lesson], [course_image]) VALUES (1, N'Java', N'Tìm hiểu cơ bản về ngôn ngữ lập trình Java thông qua các tác vụ mã hóa tương tác. Sau khi kết thúc khóa học, học viên có được nhiều kinh nghiệm thực hành về viết, biên dịch và thực thi các chương trình Java.', 0, 43, N'https://codelearn.io/CodeCamp/CodeCamp/Upload/Course/1e746fe3cbe448bda850d8b953a78954.jpg')
INSERT [dbo].[Course] ([Course_id], [course_name], [course_description], [course_price], [course_number_lesson], [course_image]) VALUES (2, N'Git', N'Git là một hệ thống quản lý phiên bản phân tán (Distributed Version Control System – DVCS), nó là một trong những hệ thống quản lý phiên bản phân tán phổ biến nhất hiện nay. Git cung cấp cho mỗi lập trình viên kho lưu trữ (repository) riêng chứa toàn bộ lịch sử thay đổi.', 0, 29, N'https://fireship.io/courses/git/img/featured.png')
INSERT [dbo].[Course] ([Course_id], [course_name], [course_description], [course_price], [course_number_lesson], [course_image]) VALUES (3, N'SQL', N'SQL là viết tắt của Structured Query Language – ngôn ngữ truy vấn mang tính cấu trúc. Nó được thiết kế để quản lý dữ liệu trong một hệ thống quản lý cơ sở dữ liệu quan hệ (RDBMS). SQL là ngôn ngữ cơ sở dữ liệu, được dùng để tạo, xóa, lấy các hàng và sửa đổi các hàng.', 0, 69, N'https://gisgeography.com/wp-content/uploads/2021/12/Learn-SQL-Online-Courses.png')
GO
SET IDENTITY_INSERT [dbo].[Discussion] ON 

INSERT [dbo].[Discussion] ([discussion_Id], [user_id], [discussion_detail], [discussion_date], [discussion_reply], [discussion_like], [discussion_image]) VALUES (1, 1, N'Rất đẹp rất tuyệt vời', CAST(N'2023-01-26' AS Date), 0, 0, NULL)
INSERT [dbo].[Discussion] ([discussion_Id], [user_id], [discussion_detail], [discussion_date], [discussion_reply], [discussion_like], [discussion_image]) VALUES (2, 2, N'Ahihihihi', CAST(N'2023-01-26' AS Date), 0, 0, NULL)
INSERT [dbo].[Discussion] ([discussion_Id], [user_id], [discussion_detail], [discussion_date], [discussion_reply], [discussion_like], [discussion_image]) VALUES (3, 2, N'zzzzzzzzzzzzzz
aaaaaaaaaaaaaa
bbbbbbbbbb
ccccccccccc', CAST(N'2023-02-28' AS Date), 0, 0, N'Not found file')
INSERT [dbo].[Discussion] ([discussion_Id], [user_id], [discussion_detail], [discussion_date], [discussion_reply], [discussion_like], [discussion_image]) VALUES (4, 1, N'reoly', CAST(N'2023-02-28' AS Date), 2, 0, NULL)
SET IDENTITY_INSERT [dbo].[Discussion] OFF
GO
SET IDENTITY_INSERT [dbo].[Enroll] ON 

INSERT [dbo].[Enroll] ([Enroll_id], [user_id], [course_id], [start_date], [end_date], [rate]) VALUES (1, 1, 1, NULL, NULL, 0)
INSERT [dbo].[Enroll] ([Enroll_id], [user_id], [course_id], [start_date], [end_date], [rate]) VALUES (2, 2, 1, NULL, NULL, 0)
INSERT [dbo].[Enroll] ([Enroll_id], [user_id], [course_id], [start_date], [end_date], [rate]) VALUES (3, 3, 1, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Enroll] OFF
GO
INSERT [dbo].[Lesson] ([lesson_id], [lesson_video], [lesson_level], [chapter_id], [image_id], [lesson_content], [lesson_number], [course_id]) VALUES (1, N'', N'1', 1, 0, N'lesson1.jsp', 1, 1)
INSERT [dbo].[Lesson] ([lesson_id], [lesson_video], [lesson_level], [chapter_id], [image_id], [lesson_content], [lesson_number], [course_id]) VALUES (2, N'', N'1', 1, 0, N'lesson2.jsp', 2, 1)
INSERT [dbo].[Lesson] ([lesson_id], [lesson_video], [lesson_level], [chapter_id], [image_id], [lesson_content], [lesson_number], [course_id]) VALUES (3, N'', N'1', 1, 0, N'lesson3.jsp', 3, 1)
GO
INSERT [dbo].[Percentage] ([User_Id], [lesson_id], [percentage]) VALUES (1, 1, 1)
INSERT [dbo].[Percentage] ([User_Id], [lesson_id], [percentage]) VALUES (1, 2, 1)
INSERT [dbo].[Percentage] ([User_Id], [lesson_id], [percentage]) VALUES (1, 3, 1)
GO
INSERT [dbo].[Question] ([Question_id], [Question], [Choice1], [Choice2], [Choice3], [Choice4], [Choice5], [Question_correct]) VALUES (1, N'Đâu không phải là một kiểu dữ liệu nguyên thủy trong Java?', N'double', N'int', N'long', N'long float', N'char', N'long float')
INSERT [dbo].[Question] ([Question_id], [Question], [Choice1], [Choice2], [Choice3], [Choice4], [Choice5], [Question_correct]) VALUES (2, N'Đâu không phải thành phần trong cấu trúc lớp trong java?', N'Tên lớp', N'Thuộc tính', N'Phươg thức', N'Biến', N'Tất cả đều sai', N'Biến')
INSERT [dbo].[Question] ([Question_id], [Question], [Choice1], [Choice2], [Choice3], [Choice4], [Choice5], [Question_correct]) VALUES (3, N'Với giá trị nào của x, biểu thức sau trả về giá trị true(x thuộc kiểu int). x%3==0', N'2', N'3', N'7', N'4', N'9', N'9')
GO
INSERT [dbo].[Quizz] ([Quizz_id], [Course_id], [Question_id]) VALUES (1, 1, 1)
INSERT [dbo].[Quizz] ([Quizz_id], [Course_id], [Question_id]) VALUES (2, 1, 2)
INSERT [dbo].[Quizz] ([Quizz_id], [Course_id], [Question_id]) VALUES (3, 1, 3)
GO
SET IDENTITY_INSERT [dbo].[Record] ON 

INSERT [dbo].[Record] ([record_id], [user_id], [Course_id], [record_date], [record_mark], [recod_quizz]) VALUES (1, 2, 1, N'Wed,Feb 15,2023 at 05:54:51 GMT+07:00', N'2', N'48-0 68-5 49-0 3-0 45-0 61-0 75-0 41-0 78-0 76-0 14-4 37-0 32-0 50-0 1-4 5-0 65-0 51-0 28-0 57-0 53-0 29-0 71-0 64-0 13-0 23-0 8-0 20-0 69-0 21-0 ')
INSERT [dbo].[Record] ([record_id], [user_id], [Course_id], [record_date], [record_mark], [recod_quizz]) VALUES (2, 2, 1, N'Wed,Feb 15,2023 at 05:59:54 GMT+07:00', N'1', N'14-4 47-0 16-0 51-0 54-0 40-0 79-0 31-0 52-0 63-0 22-0 19-0 10-0 20-0 42-0 46-0 29-0 6-0 24-0 13-0 18-0 70-0 50-0 33-0 21-0 7-0 3-0 45-0 80-0 8-0 ')
INSERT [dbo].[Record] ([record_id], [user_id], [Course_id], [record_date], [record_mark], [recod_quizz]) VALUES (3, 2, 1, N'Wed,Feb 15,2023 at 08:07:27 GMT+07:00', N'2', N'45-0 26-3 15-1 7-0 21-0 23-0 47-0 54-0 35-0 61-0 46-0 32-0 22-0 28-0 20-0 59-0 57-0 48-0 69-0 25-0 53-0 49-0 9-0 34-0 3-0 79-0 43-0 65-0 55-0 74-0 ')
SET IDENTITY_INSERT [dbo].[Record] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([User_Id], [user_name], [user_mail], [user_password], [user_role], [user_gender], [user_address], [user_phone], [user_avatar]) VALUES (1, N'kienpt', N'kienpt@gmail.com', N'123', 1, 0, NULL, NULL, N'user-default.svg')
INSERT [dbo].[User] ([User_Id], [user_name], [user_mail], [user_password], [user_role], [user_gender], [user_address], [user_phone], [user_avatar]) VALUES (2, N'ABC', N'kienpt2@gmail.com', N'123', 1, 0, NULL, NULL, N'user-default.svg')
INSERT [dbo].[User] ([User_Id], [user_name], [user_mail], [user_password], [user_role], [user_gender], [user_address], [user_phone], [user_avatar]) VALUES (3, N'BCD', N'BCD@gmail.com', N'1234', 1, 0, NULL, NULL, N'user-default.svg')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[CommentCourse] ADD  DEFAULT ((0)) FOR [comment_repply]
GO
ALTER TABLE [dbo].[CommentCourse] ADD  DEFAULT ((0)) FOR [comment_like]
GO
ALTER TABLE [dbo].[CommentLesson] ADD  DEFAULT ((0)) FOR [comment_repply]
GO
ALTER TABLE [dbo].[CommentLesson] ADD  DEFAULT ((0)) FOR [comment_like]
GO
ALTER TABLE [dbo].[Discussion] ADD  DEFAULT ((0)) FOR [discussion_reply]
GO
ALTER TABLE [dbo].[Discussion] ADD  DEFAULT ((0)) FOR [discussion_like]
GO
ALTER TABLE [dbo].[Enroll] ADD  DEFAULT ((0)) FOR [rate]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((1)) FOR [user_role]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [user_gender]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [df_Avatar]  DEFAULT ('user-default.svg') FOR [user_avatar]
GO
ALTER TABLE [dbo].[Chapter]  WITH CHECK ADD  CONSTRAINT [FK_CourseChapter] FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([Course_id])
GO
ALTER TABLE [dbo].[Chapter] CHECK CONSTRAINT [FK_CourseChapter]
GO
ALTER TABLE [dbo].[CommentCourse]  WITH CHECK ADD  CONSTRAINT [FK_CommentCourse] FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([Course_id])
GO
ALTER TABLE [dbo].[CommentCourse] CHECK CONSTRAINT [FK_CommentCourse]
GO
ALTER TABLE [dbo].[CommentCourse]  WITH CHECK ADD  CONSTRAINT [FK_UserCommentCourse] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([User_Id])
GO
ALTER TABLE [dbo].[CommentCourse] CHECK CONSTRAINT [FK_UserCommentCourse]
GO
ALTER TABLE [dbo].[CommentLesson]  WITH CHECK ADD  CONSTRAINT [FK_CommentOfChapter] FOREIGN KEY([lesson_id])
REFERENCES [dbo].[Lesson] ([lesson_id])
GO
ALTER TABLE [dbo].[CommentLesson] CHECK CONSTRAINT [FK_CommentOfChapter]
GO
ALTER TABLE [dbo].[CommentLesson]  WITH CHECK ADD  CONSTRAINT [FK_UserCommentLesson] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([User_Id])
GO
ALTER TABLE [dbo].[CommentLesson] CHECK CONSTRAINT [FK_UserCommentLesson]
GO
ALTER TABLE [dbo].[Discussion]  WITH CHECK ADD  CONSTRAINT [FK_UserDiscussion] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([User_Id])
GO
ALTER TABLE [dbo].[Discussion] CHECK CONSTRAINT [FK_UserDiscussion]
GO
ALTER TABLE [dbo].[Enroll]  WITH CHECK ADD  CONSTRAINT [FK_CourseEnroll] FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([Course_id])
GO
ALTER TABLE [dbo].[Enroll] CHECK CONSTRAINT [FK_CourseEnroll]
GO
ALTER TABLE [dbo].[Enroll]  WITH CHECK ADD  CONSTRAINT [FK_UserEnroll] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([User_Id])
GO
ALTER TABLE [dbo].[Enroll] CHECK CONSTRAINT [FK_UserEnroll]
GO
ALTER TABLE [dbo].[Image]  WITH CHECK ADD  CONSTRAINT [FK_ImageOfChapter] FOREIGN KEY([lesson_id])
REFERENCES [dbo].[Lesson] ([lesson_id])
GO
ALTER TABLE [dbo].[Image] CHECK CONSTRAINT [FK_ImageOfChapter]
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD  CONSTRAINT [FK_LessonOfChapter] FOREIGN KEY([chapter_id])
REFERENCES [dbo].[Chapter] ([Chapter_id])
GO
ALTER TABLE [dbo].[Lesson] CHECK CONSTRAINT [FK_LessonOfChapter]
GO
ALTER TABLE [dbo].[Percentage]  WITH CHECK ADD FOREIGN KEY([lesson_id])
REFERENCES [dbo].[Lesson] ([lesson_id])
GO
ALTER TABLE [dbo].[Percentage]  WITH CHECK ADD FOREIGN KEY([User_Id])
REFERENCES [dbo].[User] ([User_Id])
GO
ALTER TABLE [dbo].[Quizz]  WITH CHECK ADD  CONSTRAINT [FK_QuestionOfQuizz] FOREIGN KEY([Question_id])
REFERENCES [dbo].[Question] ([Question_id])
GO
ALTER TABLE [dbo].[Quizz] CHECK CONSTRAINT [FK_QuestionOfQuizz]
GO
ALTER TABLE [dbo].[Quizz]  WITH CHECK ADD  CONSTRAINT [FK_QuizzOfCourse] FOREIGN KEY([Course_id])
REFERENCES [dbo].[Course] ([Course_id])
GO
ALTER TABLE [dbo].[Quizz] CHECK CONSTRAINT [FK_QuizzOfCourse]
GO
ALTER TABLE [dbo].[Record]  WITH CHECK ADD  CONSTRAINT [FK_RecordOfCoursr] FOREIGN KEY([Course_id])
REFERENCES [dbo].[Course] ([Course_id])
GO
ALTER TABLE [dbo].[Record] CHECK CONSTRAINT [FK_RecordOfCoursr]
GO
ALTER TABLE [dbo].[Record]  WITH CHECK ADD  CONSTRAINT [FK_RecordOfUser] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([User_Id])
GO
ALTER TABLE [dbo].[Record] CHECK CONSTRAINT [FK_RecordOfUser]
GO
